<!doctype html>
<html>
<head>
    <title>Yosef Cohen Contact List</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/GeneralCSS.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/contact listCSS.css') }}">
    <script src="{{ url_for('static',filename='JS.js') }}"> </script>
</head>

    <body>
        {% include('loggedinHeader.html') %}
        <h1 align="center">Contact List: </h1>
        <hr class="hr">
        <br>
                <main>

        </main>
        <button type="submit" class="btn fourth"  onclick="location.href='/'">Return to Home Page</button>
    </body>

</html>