<!doctype html>

<html>
    <head>
        <title>Yosef Cohen Full CV </title>
        <link rel="stylesheet" href="{{ url_for('static',filename='CSS/GeneralCSS.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='CSS/FullCVCSS.css') }}">
    </head>
    <body>
        {% include('loggedinHeader.html') %}
        <hr class="hr">
        <div class="grid-container">
            <button type="submit" class="Rbuttun" onclick="location.href='/'">Return to Home Page</button>
            <div class="header">
                <h3>  My CV </h3>

            </div>
            <div style="position: sticky; top: 0;">
                <a href="{{ url_for('static',filename='Yosef Cohen CV.pdf') }}" ><button class= 'CVbuttun' >Download full CV</button></a>
            </div>
                 <div class="text">
                     <h2>Education</h2>
                    <h3> 2017 -Present: Ben Gurion university</h3>
                    <p>
                        B.Sc. in industrial engineering (information systems), GPA of 80.
                    </p>
                    <h3> 2017: Psychometric</h3>
                    <p>
                        Multidisciplinary 680.
                    </p>

            </div>

            <div class="text">
                <h2>Military service and employment experience</h2>
                <h3> 2017-present: IEM student in "Atuda" course</h3>
                <h3> 2017: Ex-candidate to pilot course at IDF air force.</h3>
            </div>

               <div class="text">
                <h2>Military service and employment experience</h2>
                <h3> 2017-present: IEM student in "Atuda" course</h3>
                <h3> 2017: Ex-candidate to pilot course at IDF air force.</h3>
            </div>

            <div class="text">
                <h2>Skills & Languages</h2>
                <ul>
                    <li>
                        Programming: Java,R, Talend, Tableau,Python, VB, SQL, C#, Power BI.
                    </li>
                    <li>
                        Fast learning of new applications and technologies.
                    </li>
                    <li>
                        High-level programming and algorithmic thinking.
                    </li>
                    <li>
                        Office Tools: MS Project, Word, Excel, PowerPoint
                    </li>
                    <li>
                        Languages: Hebrew - native language, English - high level
                    </li>
                </ul>
            </div>
        </div>
    <hr class="hr">
    </body>
</html>