* {
    box-sizing: border-box;
    color: black;
}


.container {
    padding: 16px;
    width: 700px;
    margin: auto;
}

.container h1{
    background-color:rgba(255, 255, 255, 0.63);
    color: black;
    text-align: center;
}


input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    color: black;
}
label{
    background: rgba(255, 255, 255, 0.63);
    font-size: 17px;
    
}

::placeholder{
    font-family: cursive;
}
input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}
input:focus::placeholder {
  color: transparent;
}
textarea:focus{
    background-color: #ddd;
    outline: none;
}
textarea:focus::placeholder{
    color: transparent;
}
.wrap {
    text-align: center;
}

textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    color: black;
}


.sendButton {
    background-color: #777777;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.3s;
}

.sendButton:hover {
    opacity: 1;
    background-color: #bf9f5a;
}



